<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  hai <%= body %>

  <img src="/bendera.png" alt="">
  <a href="/file_utk_download.txt">Download</a>

  <form action="/hai" method="post" >
    <label for="">Nama</label>
    <input type="text" name="nama">
    <button type="submit">Upload</button>
  </form>

</body>
</html>